<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ospinet.app"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  
    <application
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
       android:theme="@style/Theme.Sherlock.Light">

        <activity
            android:name="com.ospinet.app.SplashScreen"
            android:label="@string/title_activity_login" 
            android:screenOrientation="portrait">
           </activity>
            <activity android:name="com.ospinet.app.HomeActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.LoginActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.SignUpActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.MemberActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.Member_Home" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.Member_View" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.Member_Edit" android:screenOrientation="portrait"></activity>
            <activity android:name="com.ospinet.app.Records_Home" android:screenOrientation="portrait"></activity>
            <activity android:name="com.ospinet.app.Record_Edit" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.Record_View" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.RecordActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.help" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.Record_Details" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.PreMemberHome" android:screenOrientation="portrait" ></activity>
            <activity android:name=".MainActivity" android:screenOrientation="portrait" ></activity>
            <activity android:name="com.ospinet.app.login_2" android:screenOrientation="portrait" android:noHistory="true">
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                
            </activity>
    </application>

</manifest>